@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
  background-image: radial-gradient(#bdbdbd 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

/* 
-------------------------- CSS CHEATSHEET --------------------------

MEDIA QUERIES:

"sm"      640px       (min-width: 640px)
"md"	    768px       (min-width: 768px)
"lg"	    1024px      (min-width: 1024px)
"xl"	    1280px      (min-width: 1280px)
"2xl"	    1536px      (min-width: 1536px) 

COLOURS:

black     #000000
white     #ffffff
grey      #bdbdbd
red       #ff6a6a
blue      #5772a0

*/

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
